@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/BebasNeue-Regular.ttf') format('truetype');
}
@font-face {
    font-family: Outfit;
    src: url('fonts/Outfit-VariableFont_wght.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --lovelyPink:#D84060;
    --specialBlue: #49565e;
    --very-light-blue: #BBC9D0;
}
body {
    display: flex;
    font-family: Outfit, sans-serif; 
    font-size: larger;
    height: 100vh;
}

.image-container{
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    width: calc(50%);
    align-items: center;
    width: 60vw;
    min-width: fit-content;
    min-height: fit-content;
    background-color: var(--very-light-blue) ;

}
.picture {
    max-height: fit-content;

}
.form-container  {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--specialBlue);

}

.brand{
    font-family: 'Bebas Neue';
    font-size: 2rem;
    align-self: flex-start;
    margin: 1rem;
    color: var(--lovelyPink);
}
h{
    font-size: 5rem;
}
sup{
    font-size:smaller;
}
.license{
    position: absolute;
    bottom: 3px;
    opacity: 50%;
    color: black;
    margin-top: 2rem;
    text-decoration: none;
    font-size: .7rem;
}

/* **** */

.dummy-txt{
    display: flex;
    flex-flow: column wrap;
    gap: 1.7rem;
    margin: 1rem;
    padding: 3rem 2rem 4rem 2rem;
}
.dummy-txt > p{
    align-self: flex-start;
    color: var(--very-light-blue);
    font-size: 2rem;
    line-height: 3rem;

}
.all-inputs {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: .6rem;
    min-width: fit-content;
    background-color: var(--very-light-blue);
    padding: 1rem;
    margin: auto 2rem;
    border-radius: 6px;
}
.input{
    display: flex;
    flex-flow: column wrap;
    padding: 1.5rem;
    margin :0 auto;
}
label{
    margin: 7px;
    margin-left: 0px;
    font-weight: 600;
    opacity: .7;
    font-family: Outfit, sans-serif;
}
input{
    border:1px solid var(--specialBlue);
    border-radius: 6px;
    outline: none;
    height: 2rem;
    min-width: 15rem;
    font-size: 1.3rem;
    padding-left: .6rem;
}
input:focus{
    border-color: var(--lovelyPink);
    outline: 2px solid var(--lovelyPink);
}

button{
    margin-top: 5rem;
    margin-bottom: .7rem;
    margin-left: 2rem;
    padding: 1rem 1.5rem;
    letter-spacing: .6px;
    opacity: .9;
    background-color: var(--lovelyPink);
    color: white;
    border-radius: 7px;
    border: none;
    transition:.4s;
    font-size: 1rem;   
}
button:hover{
    background-color: var(var(--specialBlue));
    opacity: 1;
    transform: scale(1.03);
}
.account{
    align-self: flex-start;
    margin-left: 2rem;
    margin-bottom: 2rem;

}
.account > p{
    font-size: 1rem;
    color: white;
    margin-top: .3rem;
}
#log-in{
    text-decoration: none;
    color: var(--lovelyPink);

}
#log-in:hover{
    color: rgb(235, 216, 216);
}

/* for smaller width size of 1490px or equal to that, hide the image container */
@media screen and (max-width: 1490px) {
    .image-container {
        display: none;
    }
}
